<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>
</head>
<body>
    <h1>Welcome to login page</h1>
    <form action ="/" method="post">
        <label>Full Name</label>
        <input type="text" required name="name">
        <label>Email</label>
        <input type="email" required name="email">
        <label>Password</label>
        <input type="text" required name="Password">
        <button type="submit">Signup</button>
    </form>
    
</body>
</html>